body {
    background: #f2f2f2;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer {
    position:fixed;
    bottom:0;
    width:100%;
    background:#FEFEFE;
    border-top:1px solid #CCC;
    height:60px;
}

footer .pagination {
    margin:10px 0px;
}

footer .pagination .currentPage {
	filter: invert(20%);
}

footer .btn-group {
    margin:10px 10px;
}

input[type='checkbox'] {
    margin: 0px;
    padding:0px;
    border-radius: 5px;
    white-space: nowrap;
}

#addComputer .form-control
{
	border-width: 2px;
}

.addErrText
{
	padding-left : 2%;
	display: none;
}

#errGroup
{
    background: salmon;
    border-radius: 4px;
}

.rightContainer
{
	float: right;
	height: 50px;
	padding-top: 1%;
	padding-bottom:1%;
	line-height: 20px;
}








